Data Preprocessing

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import gzip
import json
import os
import matplotlib.pyplot as plt
import string
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
from nltk.corpus import stopwords
from bs4 import BeautifulSoup
import unicodedata
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize, sent_tokenize, regexp_tokenize 
from nltk.stem import PorterStemmer, WordNetLemmatizer
import re

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [3]:
!wget http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Electronics_5.json.gz

--2021-10-02 00:06:15--  http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Electronics_5.json.gz
Resolving snap.stanford.edu (snap.stanford.edu)... 171.64.75.80
Connecting to snap.stanford.edu (snap.stanford.edu)|171.64.75.80|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 495854086 (473M) [application/x-gzip]
Saving to: ‘reviews_Electronics_5.json.gz’

reviews_Electronics 100%[===================>] 472.88M  2.32MB/s    in 2m 24s

2021-10-02 00:08:39 (3.29 MB/s) - ‘reviews_Electronics_5.json.gz’ saved [495854086/495854086]

In [4]:
### load the meta data

data = []
with gzip.open('reviews_Electronics_5.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))
    
# convert list into pandas dataframe

df = pd.DataFrame.from_dict(data)

Checking for null values

In [6]:
df.isnull().sum()

reviewerID            0
asin                  0
reviewerName      24730
helpful               0
reviewText            0
overall               0
summary               0
unixReviewTime        0
reviewTime            0
dtype: int64

In [5]:
df = df.dropna(subset=['reviewText'])
df.shape

(1689188, 9)

Concatenate review text and summary

In [7]:
df['review_text'] = df[['summary', 'reviewText']].apply(lambda x: " ".join(str(y) for y in x if str(y) != 'nan'), axis = 1)
df = df.drop(['reviewText', 'summary'], axis = 1)
df.head()

             reviewerID  ...                                        review_text
0         AO94DHGC771SJ  ...  Gotta have GPS! We got this GPS for my husband...
1         AMO214LNFCEI4  ...  Very Disappointed I'm a professional OTR truck...
2        A3N7T0DY83Y4IG  ...  1st impression Well, what can I say.  I've had...
3        A1H8PY3QHMQQA0  ...  Great grafics, POOR GPS Not going to write a l...
4        A24EV6RXELQZ63  ...  Major issues, only excuses for support I've ha...
...                 ...  ...                                                ...
1689183  A34BZM6S9L7QI4  ...  Boom -- Pop -- Pow.  These deliver. Burned the...
1689184  A1G650TTTHEAL5  ...  Thin and light, without compromising on sound ...
1689185  A25C2M3QF9G7OQ  ...  Same form factor and durability as the S1 with...
1689186   A1E1LEVQ9VQNK  ...  Superb audio quality in a very comfortable set...
1689187  A2NYK9KWFMJV4Y  ...  Exceptional sound Normally when I receive a re...

[1689188 rows x 8 columns]

Remove duplicate data based on **reviewerName**, **asin** and **review_text** columns

In [14]:
df = df.drop_duplicates(['asin','reviewerName', 'review_text'], keep = 'first')
df

             reviewerID  ...                                        review_text
0         AO94DHGC771SJ  ...  Gotta have GPS! We got this GPS for my husband...
1         AMO214LNFCEI4  ...  Very Disappointed I'm a professional OTR truck...
2        A3N7T0DY83Y4IG  ...  1st impression Well, what can I say.  I've had...
3        A1H8PY3QHMQQA0  ...  Great grafics, POOR GPS Not going to write a l...
4        A24EV6RXELQZ63  ...  Major issues, only excuses for support I've ha...
...                 ...  ...                                                ...
1689183  A34BZM6S9L7QI4  ...  Boom -- Pop -- Pow.  These deliver. Burned the...
1689184  A1G650TTTHEAL5  ...  Thin and light, without compromising on sound ...
1689185  A25C2M3QF9G7OQ  ...  Same form factor and durability as the S1 with...
1689186   A1E1LEVQ9VQNK  ...  Superb audio quality in a very comfortable set...
1689187  A2NYK9KWFMJV4Y  ...  Exceptional sound Normally when I receive a re...

[1689186 rows x 8 columns]

In [16]:
##########################################
# Convert time object to datetime and create a new column named 'time'
##########################################
df['review_time'] = df.reviewTime.str.replace(',', "")
df['review_time'] = pd.to_datetime(df['review_time'], format = '%m %d %Y')

# Drop redundant 'reviewTime' column
df = df.drop('reviewTime', axis = 1)
df.head()

       reviewerID  ... review_time
0   AO94DHGC771SJ  ...  2013-06-02
1   AMO214LNFCEI4  ...  2010-11-25
2  A3N7T0DY83Y4IG  ...  2010-09-09
3  A1H8PY3QHMQQA0  ...  2010-11-24
4  A24EV6RXELQZ63  ...  2011-09-29

[5 rows x 8 columns]

In [17]:
def clean_text(text):
  text = ' '.join(re.sub("<.*?>|&([a-z0-9]+|#[0-9]{1,6}|#x[0-9a-f]{1,6});", "", text).split())
  #Then tokenisation
  tokens = word_tokenize(text)
  # convert to lower case
  tokens = [w.lower() for w in tokens]
  # remove punctuation from each word
  table = str.maketrans('', '', string.punctuation)
  stripped = [w.translate(table) for w in tokens]
  # remove remaining tokens that are not alphabetic
  words = [word for word in stripped if word.isalpha()]
  # filter out stop words
  stop_words = set(stopwords.words('english'))
  # You can add more stop words here, specific for texts
  words = [w for w in words if not w in stop_words]
  # stemming of words
  lemmatizer = WordNetLemmatizer()
  words = [lemmatizer.lemmatize(word) for word in words]
  # Convert from list to a sentence again
  text = ' '.join(word for word in words)
  return text

In [18]:
#Process the segments here
df['review_text'] = df['review_text'].apply(clean_text)
df.head()

       reviewerID  ... review_time
0   AO94DHGC771SJ  ...  2013-06-02
1   AMO214LNFCEI4  ...  2010-11-25
2  A3N7T0DY83Y4IG  ...  2010-09-09
3  A1H8PY3QHMQQA0  ...  2010-11-24
4  A24EV6RXELQZ63  ...  2011-09-29

[5 rows x 8 columns]

In [19]:
df.to_csv("/content/drive/MyDrive/Dataset/Electronics_processed.csv")